<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<fieldset style="height: fit-content;width: fit-content">
    <legend><h2 style="color: blueviolet">Edit Product Info</h2></legend>
    <div id="form">
        <form action="#" th:action="@{/doEdit}" th:object="${product}" method="post" novalidate="novalidate">
            <table>
                <tr>
                    <td>ID:</td>
                    <td><input type="number" readonly="true" disabled th:field="*{id}"/>
                    </td>
                </tr>
                <tr>
                    <td>Product Name:</td>
                    <td><input type="text" th:field="*{name}"/>
                    </td>

                </tr>
                <tr>
                    <td>Price:</td>
                    <td><input type="number" th:field="*{price}"/>
                    </td>

                </tr>
                <tr>
                    <td>Quantity:</td>
                    <td><input type="number" th:field="*{quantity}"/>
                    </td>

                </tr>
                <tr>
                    <td>Description:</td>
                    <td><input type="text" th:field="*{description}"/>
                    </td>

                </tr>
                <p>
                    <button type="submit" onclick="return confirm('Are You Sure')">Update Info</button>
                </p>

            </table>
        </form>
        <p><a th:href="@{/home}">
            <button type="button">Back</button>
        </a></p>
    </div>
</fieldset>
</body>
</html>